ul, li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #999;
}

.nav
{
background-color:rgb(47, 49, 47);
display: flex;
 justify-content:space-between ;
 margin: 1%;

}




.nav-title{
    color:rgb(255, 255, 255) ;
    margin: 1%;

}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: 'Roboto', sans-serif;
    gap: 30px;
    margin: 1%;
}

.btn{
    height: 30px; %;
    box-shadow: 2px 2px black ;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(22, 146, 177);
    color: rgb(255, 255, 255);
   
}
